In [18]:
# import libraries
import pandas as pd

In [19]:
# Creating base dataframe from source
file = "Resources/card_transdata.csv"
df = pd.read_csv(file)
df.head()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0

In [20]:
# Check column dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   distance_from_home              1000000 non-null  float64
 1   distance_from_last_transaction  1000000 non-null  float64
 2   ratio_to_median_purchase_price  1000000 non-null  float64
 3   repeat_retailer                 1000000 non-null  float64
 4   used_chip                       1000000 non-null  float64
 5   used_pin_number                 1000000 non-null  float64
 6   online_order                    1000000 non-null  float64
 7   fraud                           1000000 non-null  float64
dtypes: float64(8)
memory usage: 61.0 MB

In [21]:
# Check dataframe row and column length
df.shape

(1000000, 8)

In [22]:
# Check general statistics for first 4 columns
df.iloc[:,0:4].describe()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,26.628792,5.036519,1.824182,0.881536
std,65.390784,25.843093,2.799589,0.323157
min,0.004874,0.000118,0.004399,0.000000
25%,3.878008,0.296671,0.475673,1.000000
50%,9.967760,0.998650,0.997717,1.000000
75%,25.743985,3.355748,2.096370,1.000000
max,10632.723672,11851.104565,267.802942,1.000000

In [23]:
# Change columns to a more user friendly name.
df.columns = ["Distance From Home","Distance From Last Transaction","Ratio to Median Purchase Price","Repeat Retailer","Used Chip","Used Pin Number","Online Order","Fraud"]
df.head()

,Distance From Home,Distance From Last Transaction,Ratio to Median Purchase Price,Repeat Retailer,Used Chip,Used Pin Number,Online Order,Fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0

In [24]:
# Converted unnecessary float values to integers to represent binery 0 or 1 (True or False) statement.

df['Repeat Retailer'] = df['Repeat Retailer'].astype(int)
df['Used Chip'] = df['Used Chip'].astype(int)
df['Used Pin Number'] = df['Used Pin Number'].astype(int)
df['Online Order'] = df['Online Order'].astype(int)
df['Fraud'] = df['Fraud'].astype(int)
df.head()

,Distance From Home,Distance From Last Transaction,Ratio to Median Purchase Price,Repeat Retailer,Used Chip,Used Pin Number,Online Order,Fraud
0,57.877857,0.311140,1.945940,1,1,0,0,0
1,10.829943,0.175592,1.294219,1,0,0,0,0
2,5.091079,0.805153,0.427715,1,0,0,1,0
3,2.247564,5.600044,0.362663,1,1,0,1,0
4,44.190936,0.566486,2.222767,1,1,0,1,0

In [25]:
# Round float columns to two decimal places.

df = df.round(2)
df.head()

,Distance From Home,Distance From Last Transaction,Ratio to Median Purchase Price,Repeat Retailer,Used Chip,Used Pin Number,Online Order,Fraud
0,57.88,0.31,1.95,1,1,0,0,0
1,10.83,0.18,1.29,1,0,0,0,0
2,5.09,0.81,0.43,1,0,0,1,0
3,2.25,5.60,0.36,1,1,0,1,0
4,44.19,0.57,2.22,1,1,0,1,0

In [26]:
# Save dataframe as csv file to Resources.

df.to_csv("Resources/cleaned_card_data.csv",index=False)